# Backend
backend/.env
backend/data/*.db
backend/data/*.sql

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
